/* Feel free to edit CSS of body if you'd like. We provide you the light gray background color and font family in the body styling */
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  background-color: #e6ecf0;
  
}

/* TODO: Create CSS for your Twitter Mockup */

.content-wrapper {
  max-width: 1190px; 
  max-height: fit-content;
  margin: 56px auto;
  margin-top: 35px;
  /* border: solid 5px pink; */
  justify-content: flex-start;
  display:flex;
  justify-content: space-around;
}

.content-left {
  width: 290px;
  background-color: #e6ecf0;
}

.content-center {
  width: 500px;
  height: 800px;
  background-color: #e6ecf0;
  /* border:solid 2px purple; */
  float:left;
}

.content-right {
  width: 290px;
  height:500px;
  background-color: #e6ecf0;
  /* border:solid 2px purple; */
}



hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style:solid;
  border-width: 1.5px;
}

.navbar {
  position:fixed;
  top:0;
  right:0;
  left:0;
  height:46px;
  z-index: 100;
}

.navbar-brand {
  margin-right: 42%;

}

.tweet {
  background-color: #00acee; 
  border: none;
  color: white;
  padding: 1px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 1px;
  cursor: pointer;
  border-radius: 90px;
  width: 100px;
}

.left-child-top {
  width: 100%;
  height: 130px;
  background-color: black;
  /* border: solid 1px orange; */
}

#Banner {
  margin-left: 10%;
  margin-top: 30px;
  position: relative;
  width:80%;
  height:70px;
  /* border:solid 2px green; */
}

.left-child-middle {
  background-color: white;
  /* border: solid 1px orange; */
  width: 100%;
  height: 100px;
  
}

.left-child-bottom {
  width: 100%;
  height: 100px;
  background-color: white;
  border-top: solid 1px orange;
}

#ProfilePic {
  z-index:2;
  position: relative;
  width: 100px;
  height: 110px;
  left:15px;
  border-radius: 50%;
  margin-top: 5px;
  border: solid 2px white;
}

.RemyText {
  margin-left: 40%;
  height:80px;
  font-weight: bold;
 text-align: justify;
}

.Text {
  margin-left: 5px;
  margin-top: 5px;
  width:50px;
  color:black;
  height:25px;
  text-align: left;
  font-size: medium;
  font-weight: bold;
}

.NameText {
  margin-left: 5px;
  margin-top: 5px;
  width:auto;
  color:black;
  height: 30px;
  text-align: left;
  font-size: small;
  font-weight: bold; 
  display:flex;
  flex-direction: row;
  border:solid 2px red;
}

.At {
  height: 25px;
  color:gray;
  font-size: medium;
}

.at{
  margin-left: 10px;
  color: gray;
}

.tabler {
  color:white;
  text-align: center;
}

th {
  color:gray;
  font-size: larger;
  padding-inline: 7px;
}

td {
  color:#00acee;
  font-size: 28px;
}

.grid-item{
  width: 500px;
  min-height: 100px;
  background-color: white;
  border-bottom: solid 1px  #e6ecf0;
  display:flex;
  flex-direction: row;
  overflow:visible;  
}

.grid-it {
  margin-left: 10px; 
  margin-bottom:2px;
  margin-top:5px;
  border: solid 2px #00acee;
  width: 70px;
  height:70px;
  border-radius: 50%;
}

#Recs {
  margin-left: 5px;
}

.Name-Date {
  width: auto;
  height:25px;
  margin-top: 5px;
  text-align:left;
  color:gray;
  font-size: medium; 
  font-weight: lighter;
  flex-wrap: wrap;
}

.Name-At {
  height: 25px;
  margin-left:2px;
  background-color: white;
}

.tweet-message {
  /* border: solid 1px red; */
  position: inherit;
  width: 98%;
  margin-left: 5px;
  height: auto; 
  /* margin:2px; */
  font-size: 14px;
  margin-top: -17px;
}

.options {
  display:inline;
  justify-content:space-evenly;
  flex-direction: row;
  position: relative;
  width: 100px;
  height:25px;
  /* border: solid 1px green; */
}

.choices {
  width:22px;
  height:20px;
  /* border:solid 1px hotpink; */
  margin-bottom: 5px;
  
}

.rat-pic-mini {
  width: 40px;
  height:40px;
  border-radius: 50%;
  margin-left:2px;
  margin-top:2px;
  z-index: 101;
}

.right-grid-item{  
  width:290px;
  height:200px;
  background-color: white;
}

.right-rec {
  width:auto;
  height:80px;
  display:flex;
  background-color: white;
}

.photo_rec {
  border-radius: 50%;
  margin:5px;
}

.follow {
  background-color: white; 
  border: solid 1px #00acee;
  color: #00acee;
  text-align: center;
  font-size: 15px;
  border-radius: 20px;
  margin-left: 5px;
  margin-right:60%;
  height: 30px;
}

.TextArea {
  background-color:white;
  width: 200px;
  display:flex;
  flex-direction: column;
}

.user-info {
  width:95%;
  height: 25px;
  margin-top:5px;
  margin-left: 5px;
  font-weight: bold;
}

.otherBorder {
  display:flex;
  flex-direction: column;
  column-gap: 0%;
  /* border:soli; */
  width: 100%;
}

.search-bar-container {
  display:flex;
  width:100%;
  height: 30px;
  background-color:white;
  border-bottom: solid 1px #e6ecf0;
}

.pause {
  background-color: #00acee; 
  color: white;
  text-align: center;
  font-size: 12px;
  padding:1px;
  width: 60px;
  margin-left: 5px;
  border-radius: 70px;
  font-weight:bold;
}

#searchBar {
  width: 100%;
  margin-top: 4px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  padding: 5px 10px;
  font-size: 12px;
  margin-left: 5px;
}

@media all and (max-width: 1000px) {
  .content-right { display: none; }
}

