/* Feel free to edit CSS of body if you'd like. We provide you the light gray background color and font family in the body styling */
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  background-color: #e6ecf0;
  
}

/* TODO: Create CSS for your Twitter Mockup */

/* .list1-class {
  background-color:green;
  border: solid 5px greenyellow;

} */

.content-wrapper {
  max-width: 1190px; 
  margin: 56px auto;
  margin-top: 23px;
  border: solid 5px pink;
}

.wide {
  width: 100%;
  height: 600px;
  border: solid 5px green;
  justify-content: flex-start;
  display:flex;
  justify-content: space-around;
}

.content-left {
  width: 290px;
  background-color: black;
  border:solid 2px purple;
}

.content-center {
  width: 290px;
  background-color: gray;
  border:solid 2px purple;
}

.content-right {
  width: 290px;
  background-color: white;
  border:solid 2px purple;
}



hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style:solid;
  border-width: 1.5px;
}



.navbar {
  position:fixed;
  top:0;
  right:0;
  left:0;
  height:46px;
  z-index: 100;
}

.navbar-brand {
  margin-right: 42%;

}


.tweet {
  background-color: #00acee; /* Green */
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 2px 1px;
  cursor: pointer;
  border-radius: 70%;
  width: 100px;
  
}

.left-child-top {
  width: 100%;
  height: 100px;
  background-color: blue;
  border: solid 1px orange;
}

.left-child-middle {
  width: 100%;
  height: 100px;
  background-color: blue;
  border: solid 1px orange;
}

.left-child-bottom {
  width: 100%;
  height: 100px;
  background-color: blue;
  border: solid 1px orange;
}