 <div class="header">
    <h1> Home </h1>
</div>


<div class="top-container">
    <p>This is the Home page</p>
</div>

<div class="form-wrapper">
    <div class="signup-container">
        <header class="signup-header">
            <h1> Chat App </h1>
        </header>
        <main class="signup-main">
            <form action="http://localhost:8080/roomName" method="POST">
                <div class="form-control">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" placeholder="Enter username..." required />
                </div>
                <div class="form-control">
                    <label for="createroom">Create Room</label>
                    <input type="text" name="createroom" id="createroom" placeholder="Enter room name..."/>
                </div>
                <div class="form-control">
                    <label for="room">Existing Rooms</label>
                    <select name="room" id="room">
                        <option >Existing Chatroom:A</option>
                        <option>Existing Chatroom:B</option>
                    </select>
                </div>
                <button type="submit" class="btn">Join Chat</button>
            </form>
        </main>
    </div>
</div>