<h1> Room </h1>
<p>This is a demo of chatroom page</p>
<p>
    The room you are visiting is {{ roomName }}
</p>
<p>To generate a new room, here is the room id: {{ newRoomId }}</p>

<!DOCTYPE html>
<html>
  <head>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.2/qs.min.js"
      integrity="sha256-TDxXjkAUay70ae/QJBEpGKkpVslXaHHayklIVglFRT4="
      crossorigin="anonymous"
    ></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="models/Rooms.js"></script>
  </head>
  <body>
    <ul id="messages"></ul>
    <form action="/" method="POST" id="chatForm">
      <input id="txt" autocomplete="off" autofocus="on" placeholder="type your message here..." /><button>Send</button>
    </form>
    
    <script>
        var socket = io();
        // submit text message without reload/refresh the page
        $('form').submit(function(e){
            e.preventDefault(); // prevents page reloading
            var msg = document.getElementById('txt').value;
            socket.emit('chatMessage', msg);
            $('#txt').val('');
            return false;
        });
      socket.on('message', (msg) => {
      //  console.log(msg);
        var chatMessage = document.createElement("li");
        chatMessage.textContent = msg; 
        var messageBox = document.getElementById("messages");
        messageBox.append(chatMessage);
        window.scrollTo(0, document.body.scrollHeight);
      });

      //socket.on('is_online', (username) => )
      
      
    </script>
  </body>
</html>