<h1> Room: {{roomName}} </h1>
<p>To generate a new room, here is the room id: {{ newRoomId }}</p>

<div class="chat-container">
    <textarea class="alltext" id="alltext">

    </textarea>

    <form action="/postMessage" method="POST" id="chatForm" class="chatForm">
      <input id="txt" autocomplete="off" autofocus="on" placeholder="type your message here..." /><button>Send</button>
    </form>
</div>